<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Third Grade Videos</h3>
            <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
            <hr class=titlehr />


            <hr id="math" class="lesspadding" />
            <h4>Math Videos</h4>
            <h5>Multiplication and Division:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dPksJHBZs4Q"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LD4zp8ruvaI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C3PojOwjHcc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rGMecZ_aERo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Rounding:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VPdE5aOH52g"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pNfz-JU2cKE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Fractions:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SZaXtOHNh6s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-YpEkExjq2E"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jWWf1-zqnlM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KlfxIbO-KJs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Measurement and Data:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iCnh6EL1Lmo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mHCBtKFhV8M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W9oidm-Tt24"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MTSlKifo4js"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8cz_IB65pZM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_sQ3dqhLsIw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="normalhr" id="reading" />
            <h4>Reading Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Phonics, Word Recognition, and Word Structure:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L-8m7egfXwQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4qe5SJf5jGg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FSkgVDrLb5A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EnJItr8Sm_g"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/keqHlD-lGWQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dqIpM6Smr04"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Understanding Literature:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7C8CZjcnIq4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gw42rShPd1s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d6EE_B3_T-E"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/em4SystWI2A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xKE_F_l5FzQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tAjdk3-Q1qY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr id="history" class="normalhr" />
            <h4>Social Studies Videos</h4>
            <hr class="normalhr" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H6WY-5u3dIc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j7hrjz8IWwk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QV2HOfcCJaM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E2YidQrQuec"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XS8DEjd2QBg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4UV6_AMpoyU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a8hDKU_bAec"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a2-QL59pVRo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GrG7zBUDiqQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o2WRP-U7630"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr id="science" class="normalhr" />
            <h4>Science Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Growth and Development of Organisms:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7hSnpkGyXx4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tkFPyue5X3Q"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Ecosystems:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1X-WpfUvm4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EXpX4mLocFA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vtb3I8Vzlfg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pasB5FxhVUk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Inherited Traits and Instincts:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GqEConjFPvg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SldwzOJ23J8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1eBn-73RE6c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IVNNkFvWBU8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Forces and Interactions:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rnlHxAYwCbg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Rjid6hQuww"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DR9w4koW2EA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mp0Bu75MSj8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px">

        <div class="tableOfContentContainer">
            <div class="tableOfContent docs-toc-container">
                <div class="docs-toc-heading">Grade 3 Videos:</div>
                <nav>
                    <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                        Math
                    </a>
                    <br>
                    <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                        Reading
                    </a>
                    <br>
                    <a pageScroll href="#history" class="docs-level-h3 docs-link ng-star-inserted">
                        Social Studies
                    </a>
                    <br>
                    <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                        Science
                    </a>
                </nav>
            </div>
        </div>

    </div>
</div>

<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <i class="fas fa-arrow-alt-circle-up" (click)="goToTop()" *ngIf="scrolled == 1"></i>
            </div>
        </div>
    </div>
</div>