<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableOfContentContainer">
    <div class="tableOfContent docs-toc-container">
        <div class="docs-toc-heading">Grade 3 Videos:</div>
        <nav>
            <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                Math
            </a>
            <br>
            <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                Reading
            </a>
            <br>
            <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                Science
            </a>
        </nav>
    </div>
</div>

<div class="container page-container">
    <hr class="titlehr" />
    <h1>Third Grade Videos</h1>
    <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
    <hr class=titlehr />


    <hr id="math" class="lesspadding" />
    <h3>Math Videos</h3>
    <h5>Multiplication and Division:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dPksJHBZs4Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/LD4zp8ruvaI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/C3PojOwjHcc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/rGMecZ_aERo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Rounding:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/VPdE5aOH52g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/pNfz-JU2cKE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Fractions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/SZaXtOHNh6s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/-YpEkExjq2E" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/jWWf1-zqnlM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/KlfxIbO-KJs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Measurement and Data:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/iCnh6EL1Lmo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/mHCBtKFhV8M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/W9oidm-Tt24" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/MTSlKifo4js" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/8cz_IB65pZM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/_sQ3dqhLsIw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" id="reading" />
    <h3>Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics, Word Recognition, and Word Structure:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/L-8m7egfXwQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/4qe5SJf5jGg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/FSkgVDrLb5A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/EnJItr8Sm_g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/keqHlD-lGWQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dqIpM6Smr04" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7C8CZjcnIq4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/gw42rShPd1s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/d6EE_B3_T-E" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/em4SystWI2A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/xKE_F_l5FzQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/tAjdk3-Q1qY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="science" class="normalhr" />
    <h3>Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Growth and Development of Organisms:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7hSnpkGyXx4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/tkFPyue5X3Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Ecosystems:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/P1X-WpfUvm4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/EXpX4mLocFA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Vtb3I8Vzlfg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/pasB5FxhVUk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Inherited Traits and Instincts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/GqEConjFPvg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/SldwzOJ23J8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/1eBn-73RE6c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/IVNNkFvWBU8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Forces and Interactions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/rnlHxAYwCbg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/-Rjid6hQuww" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/DR9w4koW2EA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Mp0Bu75MSj8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>