<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="page-container">

    <h1>Third Grade Educational Videos</h1>


    <!-- Reading Videos -->
    <h3>Reading:</h3>

    <!-- Spelling Videos -->
    <h3>Spelling:</h3>

    <!-- Grammar Videos -->
    <h3>Grammar:</h3>

    <!-- Math Videos -->
    <h3>Math:</h3>

    <!-- Science Videos -->
    <h3>Science:</h3>

    <!-- History Videos -->
    <h3>History:</h3>
</div>