<div class="d-flex bd-highlight footer">
    <div class="bd-highlight d-none  d-lg-flex " style="width: 155px"></div>

    <div class="flex-grow-1 bd-highlight links">
        <div class="d-flex justify-content-center page-container">
            <a routerLink="" routerLinkActive="active">Home</a>
            <a routerLink="/mission">Our Mission</a>
            <a routerLink="/contact">Contact Us</a>
        </div>
    </div>

    <div class="bd-highlight d-none  d-lg-flex " style="width: 155px"></div>
</div>