<section>
    <h1 class="float-container"> Welcome to the Elementary Education Hub!</h1>
    <div class="float-child">
        <p> Here you'll find a comprehensive source of free educational videos and more to assist you in teaching your
            students
            or childen. All of the videos are free, student-focused, and highly engaging. </p>
    </div>
    <div class="float-child">
        <p> Whether you are a parent or a teacher, our desire is to support you by providing high quality and
            engaging videos for your student or child. </p>
    </div>
    <hr />

</section>