<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <div class="main">
                <section class="intro">
                    <h2 class="welcome"> Welcome to the Elementary Education Hub!</h2>
                    <hr class="introhr" />
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <p> Here you'll find a comprehensive source of free educational videos and more to
                                    assist you in
                                    teaching
                                    your
                                    students or childen. All of the videos are free, student-focused, and highly
                                    engaging.
                                </p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <p> Whether you are a parent or a teacher, our desire is to support you by
                                    providing high quality, engaging, and safe videos for your student or child. Get
                                    started
                                    by
                                    choosing a grade level or subject above!
                                </p>
                            </div>

                        </div>
                    </div>
                </section>
                <hr class="mainhr" />

                <section>
                    <div>
                        <h3 class="teacherFavorites"> Teacher Favorites: </h3>

                        <div class="d-none d-lg-block" styles="">
                            <ng-image-slider #nav [images]="imageObject" [infinite]="true"
                                [autoSlide]="{interval: 1, stopOnHover: true}" [showVideoControls]="true"
                                [imagePopup]="true" [videoAutoPlay]="true" [manageImageRatio]="true" slideImage="1">
                            </ng-image-slider>
                        </div>

                        <div class="d-block d-lg-none">
                            <div class="container">
                                <div class="row">
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/NpWHZJZQDSE" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/xyMrLQ4ZI-4" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/EzzQ8x-9HTo" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/xUCYFof8QyA" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/UgfSwlqi4Qg" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-6 col-lg-6">
                                        <iframe class="embed-responsive-item"
                                            src="https://www.youtube.com/embed/DR9w4koW2EA" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="sliderhr" />
                </section>

                <section>
                    <div class="response">
                        <p class="responsetext"> Do you have educational videos that you would like shared on this site?
                            Email
                            us at
                            admin@elementaryhub.com
                            to share content. </p>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 115px"></div>
</div>