.main {
  margin: auto;
  padding-top: 5em;
  padding-bottom: 10em;
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  height: auto;
  width: 80%;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
  z-index: 1;
}

.float-container {
  border: 3px solid #fff;
}

.float-child {
  width: 50%;
  float: left;
  padding: 5%;
}

ng-image-slider {
  padding-top: 2%;
  padding-bottom: 40%;
}

.teacherFavorites {
  padding-bottom: 2.5%;
}

.mainhr {
  border-top: 10px solid #d6d6d6;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 0%;
}

.sliderhr {
  border-top: 10px solid #d6d6d6;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 7%;
}

go-top-button {
  padding: 5px;
  border: 4px black;
  float: right;
  margin-right: 1.15em;
  position: relative;
  right: 8em;
  bottom: 6em;
  z-index: 999;
}
