<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-lg-flex " style="width: 155px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>First Grade Videos</h3>
            <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
            <hr class=titlehr />

            <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                <p style="color: #5d0c1d">Attention: This website currently works best when viewed on a
                    computer. Safari windows on mobile devices crash on a few of the pages from there being too
                    many resources on it. A fix for it is currently in progress but not applied yet.</p>
            </div>

            <hr id="math" class="lesspadding" />
            <h4>Math Videos</h4>
            <h5>Counting:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MA9BhxGwGMs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r_h7YMgMdao"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EFP6JwOWrlg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uDSWMjtMff4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yQSdKlNvrmw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kGBu6OY81Mw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Money:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pnXJGNo08v0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MbtmucV-U2c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Addition and Subtraction:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6gfIvbkaCAA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/facfD3bkPjI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mvm0y1Qr_JQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wCgbVIA01N4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zau4jtSA_kY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M2O8uhq5lLg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WDZoZytc94Q"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4OIks496ya8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FtjkzSnZ4G4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/81NfQ350vw8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr class="lesspadding" />
            <h5>Shapes:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/24Uv8Cl5hvI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9OlcnbZ3uO8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZnZYK83utu0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3-QwWFkz5hw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr class="lesspadding" />
            <h5>Comparing Numbers:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M6Efzu2slaI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ka9zbPcqXBI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oMFUa5XxeHw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/llqTVVXzPPY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Measurement and Data:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X_97AO2SkGU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yx_Lcp9tkmE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pgbX4J7cWBU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q8o7n-A0SC0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GHb9ZGTDzV4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J0DEO8Nf-Es"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr class="lesspadding" />
            <h5>Telling Time:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5xRoBx7iVGI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TaFQslk37xg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g6tJAy_7AL4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n_daAYx6krg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="normalhr" id="reading" />
            <h4>Reading Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Print Concepts:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Wrv_ZviMEc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LdCOswMeXFQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ppbjDRtLxB8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2gxvF2X5ANo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4TjcT7Gto3U"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pQgJnpE7IL8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1OgDU6Ww3CE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dcMK1bqpGHk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NK8_Tvu6bJk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpcgZTPMgHY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8fc_pnz1sh0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V-cvlZLNEBM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9zzq9wy6wXI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_Nawc37HyTQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eqigJZm5aa4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k-n_LHGseNk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uS2XUGBmcn4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zCnIaD-1kVE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3gFsszNp5RM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bp8arskkcXg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lIGDpEVPzCw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9S7DY2lgJlU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlBc703kYMg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/epk-hnVC10k"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5j5g5xThho4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6IyuhZUhLcY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gubPH3WEurg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5xE-vw2ctqo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>



            <hr class="lesspadding" />
            <h5>Understanding Literature:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k8muSkXjPHE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NpWHZJZQDSE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lo-JrF-c110"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/12CNNORawk8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Bz4-1YKI1M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vXWK1-L41f0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0wpByvesEMU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3mAl9QMJJTo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr id="history" class="normalhr" />
            <h4>Social Studies Videos</h4>
            <hr class="normalhr" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/S2bxkt3Nbpk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jd4kD9TicbA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Umq76iNkhx0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YrT5jcnu8NA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q-up6zuCQQg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DSnVCV4uGGQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CJLGw0lkcdE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jsTB7gSfDPI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d0ySC2tzlZI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ICcwbmDmit0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1lJmmxj0W_A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4Icao42RALg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr id="science" class="normalhr" />
            <h4>Science Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Structure and Function:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V2GvQXvjhLA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j6XVVrukmmc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xZ6v_J4I5Uw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dN_au2KHffk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Space Systems:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ftLtDzpUcBA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1SN1BOpLZAs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Waves: Light and Sound</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AGjxfx8sy6s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3yqB2KFwJCo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="bd-highlight d-none  d-lg-flex " style="width: 155px">

        <div class="tableOfContentContainer">
            <div class="tableOfContent docs-toc-container">
                <div class="docs-toc-heading">Grade 1 Videos:</div>
                <nav>
                    <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                        Math
                    </a>
                    <br>
                    <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                        Reading
                    </a>
                    <br>
                    <a pageScroll href="#history" class="docs-level-h3 docs-link ng-star-inserted">
                        Social Studies
                    </a>
                    <br>
                    <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                        Science
                    </a>
                </nav>
            </div>
        </div>

    </div>
</div>



<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <i class="fas fa-arrow-alt-circle-up" (click)="goToTop()" *ngIf="scrolled == 1"></i>
            </div>
        </div>
    </div>
</div>