<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="page-container">
    <h1>First Grade Educational Videos</h1>


    <!-- Reading Videos -->
    <h3>Reading:</h3>

    <!-- Spelling Videos -->
    <h3>Spelling:</h3>

    <!-- Grammar Videos -->
    <h3>Grammar:</h3>

    <!-- Math Videos -->
    <h3>Math:</h3>
    <!-- Number Bonds -->
    <!-- Counting -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VHwlKl5SsHc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/uDSWMjtMff4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Money     -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pnXJGNo08v0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/MbtmucV-U2c" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Science Videos -->
    <h3>Science:</h3>

    <!-- History Videos -->
    <h3>History:</h3>
</div>