<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex " style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Art Videos</h3>
            <p class="text-center">Scroll down to the desired art medium or use the navigation menu on the right.</p>
            <hr class=titlehr />

            <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none">
                <p style="color: #5d0c1d">Attention: This website currently works best when viewed on a
                    computer. Safari windows on mobile devices crash on a few of the pages from there being too
                    many resources on it. A fix for it is currently in progress but not applied yet.</p>
            </div>


            <hr id="drawing" class="lesspadding" />
            <h4>Drawing Videos:</h4>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wy2-3BxdtYY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oQmDk8Z2IMs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fGqtZbdjhNU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lIOjk00njxM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2zbAoBwLHLM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NLD3QQSVUZE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CC7uQrO-t-A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yu2OZt7sPG4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/848wWAEHWHM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kLtvcUEo2UE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kjNiPvpD3gI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kX2g3AMmjHw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r6cJl89axqY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_J_9aZ75vM8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WON1uJcpTPQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gYKV5P5rs_s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OAq2X-0FbGM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v368l7nAltE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr id="painting" class="lesspadding" />
            <h4>Painting Videos:</h4>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EJPuP50_ZqM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cIjUwedQAZo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/76wb5re9TK0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4hmoBKYMk54"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZjFEtBtAgLg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/csuNORlCYYE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/swu28u4l3Fo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kjjO36l7gYo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g6OCxzvZx8c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1K1nVGdIaMI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/quTXTSC4BkA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mg2O2kpg4tU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FVCXD92ECtg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u4c9SMP-cVQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GcsZCPiOxo8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v1H9Tnv2xUI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SBggWM4TMA4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LWJkdm1QHEw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr id="mixed" class="lesspadding" />
            <h4>Mixed Medium Videos:</h4>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SgBkeFkBPUE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Aa7x8kvnS5c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4AmYnPTDgW8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0-wFMH_wbRw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xJwNmAfMFqU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H3VqNm4jW6o"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WxU48bKqq-M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o4rJk134rqM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr id="misc" class="lesspadding" />
            <h4>Miscellaneous Art Videos:</h4>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ClFpZS-Xxco"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uF-D3LNmuJE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-PBlIXq54gU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Njl-uqnmBGA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EmmaiRFYiuE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qPP3ptNKsQM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9pxX7-NHYfg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ws6BR741ios"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SKGDXyi6pko"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EdJwrkJXhAA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/50sq5PWfai0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yqC4ryoM-Bg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="bd-highlight d-none  d-md-flex " style="width: 115px">
        <div class="tableOfContentContainer">
            <div class="tableOfContent docs-toc-container">
                <div class="docs-toc-heading">Art Videos:</div>
                <nav>
                    <a pageScroll href="#drawing" class="docs-level-h3 docs-link ng-star-inserted">
                        Drawing
                    </a>
                    <br>
                    <a pageScroll href="#painting" class="docs-level-h3 docs-link ng-star-inserted">
                        Painting
                    </a>
                    <br>
                    <a pageScroll href="#mixed" class="docs-level-h3 docs-link ng-star-inserted">
                        Mixed Medium
                    </a>
                    <br>
                    <a pageScroll href="#misc" class="docs-level-h3 docs-link ng-star-inserted">
                        Miscellaneous
                    </a>
                    <br>
                </nav>
            </div>
        </div>

    </div>
</div>

<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <i class="fas fa-arrow-alt-circle-up button" (click)="goToTop()" *ngIf="scrolled == 1"></i>
            </div>
        </div>
    </div>
</div>