<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Second Grade Videos</h3>
            <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
            <hr class=titlehr />


            <hr id="math" class="lesspadding" />
            <h4>Math Videos</h4>
            <h5>Addition and Subtraction:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/akCX13BO05A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/544k6p7NCPk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8hz0fAQV0ac"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zyVliUqkths"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I8QRZtOE67w"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ul2ZpZT_byU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QAL8XxyGVow"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Buyaqe_L5-Y"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Place Value:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a4FXl4zb3E4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f35xvI8k93k"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Counting:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PyzVG3xkONs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l3R6wdHs9n8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CJmCQs877dQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wcxaDBbOR5U"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Telling Time:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h6RNkQ7lU8Y"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zVpqZSzoe5I"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Shapes:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mn96drlCqyc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6ooKWyPI0i4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="normalhr" id="reading" />
            <h4>Reading Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGrIyCT7nK0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l-UttUp6wCc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/txNARc6bCxI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U_6mfwXe3Bo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ElyzuIrMXkI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pdzFF7HF_cU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DSkTdGjM5q8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CNMj-4giv6c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bBWm3-mxL1U"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uEFqdj41kEQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0uK65qs_kOs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0vZm6axAfJ0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Understanding Literature:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Xw1WZPdXmso"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/x3Pb2TQ-i_A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7JILMvfXgrU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mkZo2zVKJR4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iekv6R9U1dM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YK_LCjQQCPk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr id="history" class="normalhr" />
            <h4>Social Studies Videos</h4>
            <hr class="normalhr" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r8kOZkiJI8M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-BlDJ8-9JRE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OvwlRTYvU8o"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BOTybVw8GXo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X9Xyw43cC7M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v23V-cHPpz4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dmwcfaythY4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Pxt_uA8w-t4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Bu_8d70seIY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/X9Xyw43cC7M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZKnpuHQS0lM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wMMwBhkxBv0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr id="science" class="normalhr" />
            <h4>Science Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Interdependent Relationships:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3yqB2KFwJCo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YGxzFBRBwpg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Landforms and Erosion:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R-Iak3Wvh9c"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BsqKTJtK_vw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Physical and Chemical Changes:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LnyrKebTnPc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/37pir0ej_SE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px">

        <div class="tableOfContentContainer">
            <div class="tableOfContent docs-toc-container">
                <div class="docs-toc-heading">Grade 2 Videos:</div>
                <nav>
                    <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                        Math
                    </a>
                    <br>
                    <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                        Reading
                    </a>
                    <br>
                    <a pageScroll href="#history" class="docs-level-h3 docs-link ng-star-inserted">
                        Social Studies
                    </a>
                    <br>
                    <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                        Science
                    </a>
                </nav>
            </div>
        </div>

    </div>
</div>


<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <i class="fas fa-arrow-alt-circle-up" (click)="goToTop()" *ngIf="scrolled == 1"></i>
            </div>
        </div>
    </div>
</div>