<body>
    <hr class="titlehr" />
    <h1>Educational Reading Videos</h1>
    <p>Scroll down to the desired grade or use the navigation menu on the right.</p>
    <hr class=titlehr />


    <hr class="lesspadding" />
    <h3>Kindergarten Reading Videos</h3>
    <h5>Print Concepts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7HOCobwTq1A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7dhW9I2xbFg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vwxNBQnhRrM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/neItURLvyIQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/ii18uH36ySU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3ovJIxTQpsU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/xIBjAWkPzNA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/rVuWKBFkZcU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/RVophT8naUM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/U2DgOGLMz14" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/e2dx65u59aw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/ri4u0TjAZ38" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/g3eUZAI8bTU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/arQxkdRYyE4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dEbaEXf6BqM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Au0bE0WxBc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>


    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/IdCQKwOmfkk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/-_nePjWXecQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Aq4jnZfnKS4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3BVOIyUnk6s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/w33-m8-geuM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/oXLXXF7t0G8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" />
    <h3>First Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Print Concepts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Wrv_ZviMEc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/LdCOswMeXFQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/fG7ryXGwKnY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/2gxvF2X5ANo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/4TjcT7Gto3U" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/pQgJnpE7IL8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/1OgDU6Ww3CE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dcMK1bqpGHk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/NK8_Tvu6bJk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/zpcgZTPMgHY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/8fc_pnz1sh0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/V-cvlZLNEBM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/9zzq9wy6wXI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/_Nawc37HyTQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/eqigJZm5aa4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/k-n_LHGseNk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/uS2XUGBmcn4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/zCnIaD-1kVE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3gFsszNp5RM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/bp8arskkcXg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/lIGDpEVPzCw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/9S7DY2lgJlU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vlBc703kYMg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/epk-hnVC10k" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/5j5g5xThho4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/6IyuhZUhLcY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/gubPH3WEurg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div clas="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/FcMiJ6pxhVY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>



    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/k8muSkXjPHE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/NpWHZJZQDSE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/lo-JrF-c110" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/12CNNORawk8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Bz4-1YKI1M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vXWK1-L41f0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0wpByvesEMU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3mAl9QMJJTo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>


    <hr class="normalhr" />
    <h3>Second Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="normalhr" />
    <h3>Third Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="normalhr" />
    <h3>Fourth Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="normalhr" />
    <h3>Fifth Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">

            </div>

        </div>
    </div>



</body>