<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableOfContentContainer">
    <div class="tableOfContent docs-toc-container">
        <div class="docs-toc-heading">Reading Videos:</div>
        <nav>
            <a pageScroll href="#kindergartenReading" class="docs-level-h3 docs-link ng-star-inserted">
                Kindergarten
            </a>
            <br>
            <a pageScroll href="#firstReading" class="docs-level-h3 docs-link ng-star-inserted">
                First Grade
            </a>
            <br>
            <a pageScroll href="#secondReading" class="docs-level-h3 docs-link ng-star-inserted">
                Second Grade
            </a>
            <br>
            <a pageScroll href="#thirdReading" class="docs-level-h3 docs-link ng-star-inserted">
                Third Grade
            </a>
            <br>
            <a pageScroll href="#fourthReading" class="docs-level-h3 docs-link ng-star-inserted">
                Fourth Grade
            </a>
            <br>
            <a pageScroll href="#fifthReading" class="docs-level-h3 docs-link ng-star-inserted">
                Fifth Grade
            </a>
            <br>
        </nav>
    </div>
</div>

<div class="container page-container">
    <hr class="titlehr" />
    <h1>Educational Reading Videos</h1>
    <p class="text-center">Scroll down to the desired grade or use the navigation menu on the right.</p>
    <hr class=titlehr />


    <hr class="lesspadding" id="kindergartenReading" />
    <h3>Kindergarten Reading Videos</h3>
    <h5>Print Concepts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7HOCobwTq1A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7dhW9I2xbFg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vwxNBQnhRrM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/neItURLvyIQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/ii18uH36ySU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3ovJIxTQpsU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/xIBjAWkPzNA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/rVuWKBFkZcU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/RVophT8naUM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/U2DgOGLMz14" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/e2dx65u59aw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/ri4u0TjAZ38" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/g3eUZAI8bTU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/arQxkdRYyE4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dEbaEXf6BqM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Au0bE0WxBc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>


    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/IdCQKwOmfkk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/-_nePjWXecQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Aq4jnZfnKS4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3BVOIyUnk6s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/w33-m8-geuM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/oXLXXF7t0G8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" id="firstReading" />
    <h3>First Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Print Concepts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Wrv_ZviMEc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/LdCOswMeXFQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/fG7ryXGwKnY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/2gxvF2X5ANo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/4TjcT7Gto3U" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/pQgJnpE7IL8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/1OgDU6Ww3CE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dcMK1bqpGHk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/NK8_Tvu6bJk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/zpcgZTPMgHY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/8fc_pnz1sh0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/V-cvlZLNEBM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/9zzq9wy6wXI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/_Nawc37HyTQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/eqigJZm5aa4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/k-n_LHGseNk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/uS2XUGBmcn4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/zCnIaD-1kVE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3gFsszNp5RM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/bp8arskkcXg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/lIGDpEVPzCw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/9S7DY2lgJlU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vlBc703kYMg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/epk-hnVC10k" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/5j5g5xThho4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/6IyuhZUhLcY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/gubPH3WEurg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div clas="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/5xE-vw2ctqo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>



    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/k8muSkXjPHE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/NpWHZJZQDSE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/lo-JrF-c110" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/12CNNORawk8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0Bz4-1YKI1M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/vXWK1-L41f0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0wpByvesEMU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3mAl9QMJJTo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>


    <hr class="normalhr" id="secondReading" />
    <h3>Second Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/BGrIyCT7nK0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/l-UttUp6wCc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/txNARc6bCxI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/U_6mfwXe3Bo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/ElyzuIrMXkI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/pdzFF7HF_cU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/DSkTdGjM5q8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/CNMj-4giv6c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/bBWm3-mxL1U" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/uEFqdj41kEQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0uK65qs_kOs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/0vZm6axAfJ0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Xw1WZPdXmso" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/x3Pb2TQ-i_A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7JILMvfXgrU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/mkZo2zVKJR4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Iekv6R9U1dM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/YK_LCjQQCPk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" id="thirdReading" />
    <h3>Third Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics, Word Recognition, and Word Structure:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/L-8m7egfXwQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/4qe5SJf5jGg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/FSkgVDrLb5A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/EnJItr8Sm_g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/keqHlD-lGWQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dqIpM6Smr04" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7C8CZjcnIq4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/gw42rShPd1s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/d6EE_B3_T-E" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/em4SystWI2A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/xKE_F_l5FzQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/tAjdk3-Q1qY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" id="fourthReading" />
    <h3>Fourth Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Phonics, Word Recognition, and Word Structure:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/SdnNlQcAfaI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/AVPacOzaZr4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/k5niBOyRS8I" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/L5x-HzUcppQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/5Ub0Qu4uxpc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/-PhyqbvnoCg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Z97V5bYcrKo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7sHbB9VQBgo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/j54a9uBQx-4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/eSDuxQjwUPM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/fo839aHCPr8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/WgDuM63qqsA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Understanding Literature:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/6OGMlrRSALY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/fb33WQTGXPk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/FgD-mrTEol8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/NapYdbAwdIQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="normalhr" id="fifthReading" />
    <h3>Fifth Grade Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Standard English Conventions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/8c8yiwrPS0U" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/R74Ly00UygU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/QFcaUTd8DgY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/p50_yNQLj5c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/jjrwi_FCQS4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/s74XA3tCPt8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/p4JHsbF_rwg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Z5ISJUxKOpk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


        </div>
    </div>

</div>