<header class="flex-container">
    <div class="row justify-content-between">
        <div class="tagline">
            <img src="../../assets/Screen Shot 2020-07-08 at 1.05.56 PM.png">
            <!-- <h1 class="col align-self-start">Elementary Education Resource Hub</h1>
            <i class="col align-self-center"><strong>Creating a better future by providing accesible education
                    today</strong></i> -->
        </div>
        <!-- 
        <div>
            <img class="logoImage" src="../../assets/cartoononlineschool.png">
        </div> -->
    </div>
</header>

<nav>
    <!-- The navigation menu -->
    <div class="navbar">
        <a routerLink="" routerLinkActive="active">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Resources By Grade </button>
            <div class="subnav-content">
                <a routerLink="/kindergarten">Kindergarten</a>
                <a routerLink="/firstgrade">First Grade</a>
                <a routerLink="/secondgrade">Second Grade</a>
                <a routerLink="/thirdgrade">Third Grade</a>
                <a routerLink="/fourthgrade">Fourth Grade</a>
                <a routerLink="/fifthgrade">Fifth Grade</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Resources by Subject </button>
            <div class="subnav-content">
                <a routerLink="/phonics">Phonics</a>
                <a routerLink="/reading">Reading</a>
                <a routerLink="/spelling">Spelling</a>
                <a routerLink="/grammar">Grammar</a>
                <a routerLink="/math">Math</a>
                <a routerLink="/science">Science</a>
                <a routerLink="/history">History</a>
                <a routerLink="/art">Art</a>
            </div>
        </div>
        <a routerLink="/specialneeds">Special Needs Resources</a>
        <a routerLink="/mission">Our Mission</a>
    </div>

    <!-- Removed <i class="fa fa-caret-down"></i> from both buttons  -->
</nav>