<header class="flex-container">
    <div class="row justify-content-between">
        <div class="tagline">
            <img src="../../assets/Screen Shot 2020-07-08 at 1.05.56 PM.png">
        </div>
    </div>
</header>

<nav>
    <!-- The navigation menu -->
    <div class="navbar">
        <a routerLink="" routerLinkActive="active">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Resources By Grade </button>
            <div id="subnav-content" class="subnav-content">
                <a routerLink="/kindergarten">Kindergarten</a>
                <a routerLink="/firstgrade">First Grade</a>
                <a routerLink="/secondgrade">Second Grade</a>
                <a routerLink="/thirdgrade">Third Grade</a>
                <a routerLink="/fourthgrade">Fourth Grade</a>
                <a routerLink="/fifthgrade">Fifth Grade</a>
            </div>
        </div>
        <div class="subnav">
            <button class="subnavbtn">Resources by Subject </button>
            <div id="subnav-content" class="subnav-content">
                <a routerLink="/math">Math</a>
                <a routerLink="/reading">Reading</a>
                <!-- Spelling component routing for Phase 2 add-on -->
                <!-- <a routerLink="/spelling">Spelling</a> -->
                <!-- Writing Component routing for Phase 2 add-on -->
                <!-- <a routerLink="/writing">Writing</a> -->
                <a routerLink="/history">Social Studies</a>
                <a routerLink="/science">Science</a>

                <a routerLink="/art">Art</a>
            </div>
        </div>
        <a routerLink="/specialneeds">Special Education Resources</a>
        <a routerLink="/mission">Our Mission</a>
    </div>
</nav>