<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableOfContentContainer">
    <div class="tableOfContent docs-toc-container">
        <div class="docs-toc-heading">Science Videos:</div>
        <nav>
            <a pageScroll href="#kindergartenScience" class="docs-level-h3 docs-link ng-star-inserted">
                Kindergarten
            </a>
            <br>
            <a pageScroll href="#firstScience" class="docs-level-h3 docs-link ng-star-inserted">
                First Grade
            </a>
            <br>
            <a pageScroll href="#secondScience" class="docs-level-h3 docs-link ng-star-inserted">
                Second Grade
            </a>
            <br>
            <a pageScroll href="#thirdScience" class="docs-level-h3 docs-link ng-star-inserted">
                Third Grade
            </a>
            <br>
            <a pageScroll href="#fourthScience" class="docs-level-h3 docs-link ng-star-inserted">
                Fourth Grade
            </a>
            <br>
            <a pageScroll href="#fifthScience" class="docs-level-h3 docs-link ng-star-inserted">
                Fifth Grade
            </a>
            <br>
        </nav>
    </div>
</div>

<div class="container page-container">
    <hr class="titlehr" />
    <h1>Educational Science Videos</h1>
    <p class="text-center">Scroll down to the desired grade or use the navigation menu on the right.</p>
    <hr class=titlehr />


    <hr id="kindergartenScience" class="lesspadding" />
    <h3>Kindergarten Science Videos</h3>
    <h5>Earth's Systems and Basic Needs:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Uo8lbeVVb4M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sn6GLgaTY0M" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k4UDf3tF_O4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" width="500" height="300"
                    src="https://www.youtube.com/embed/fLj260gsw60" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Forces and Energy:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZLDUrPaLQWE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tXhzHPUL6Vc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="firstScience" class="normalhr" />
    <h3>First Grade Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Structure and Function:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V2GvQXvjhLA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j6XVVrukmmc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xZ6v_J4I5Uw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dN_au2KHffk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Space Systems:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ftLtDzpUcBA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1SN1BOpLZAs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Waves: Light and Sound</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AGjxfx8sy6s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3yqB2KFwJCo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="secondScience" class="normalhr" />
    <h3>Second Grade Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Interdependent Relationships:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3yqB2KFwJCo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YGxzFBRBwpg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Landforms and Erosion:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R-Iak3Wvh9c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BsqKTJtK_vw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Physical and Chemical Changes:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LnyrKebTnPc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/37pir0ej_SE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="thirdScience" class="normalhr" />
    <h3>Third Grade Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Growth and Development of Organisms:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7hSnpkGyXx4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tkFPyue5X3Q" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Ecosystems:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P1X-WpfUvm4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EXpX4mLocFA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vtb3I8Vzlfg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pasB5FxhVUk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Inherited Traits and Instincts:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GqEConjFPvg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SldwzOJ23J8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1eBn-73RE6c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IVNNkFvWBU8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Forces and Interactions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rnlHxAYwCbg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Rjid6hQuww" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DR9w4koW2EA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mp0Bu75MSj8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="fourthScience" class="normalhr" />
    <h3>Fourth Grade Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Fossils:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xQBkawjFVIA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tyOjxjFHW-c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
    <hr class="lesspadding" />
    <h5>Weathering and Erosion:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/exS9gFXgib0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jyh9wNIxy2o" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Energy Resources:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dPXoZclyFrw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Giek094C_l4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Waves:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KWzyQKcJBYg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1NJHHA9bp5Y" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="fifthScience" class="normalhr" />
    <h3>Fifth Grade Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Earth's Place in the Universe:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zo-sKzMWYFA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a5nhIUFTjcs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Earth's Systems:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VMxjzWHbyFM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QYm4ZmReT2g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6j5iHvYBIcg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uJmfY19sTGk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Matter and Its Interactions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HmzFG_xOeaQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CqjxAYZ13QA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>