<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Special Education Resources</h3>
            <p class="text-center">Below are links to a selection of great resources to help parents and teachers with
                special
                education students</p>
            <hr class=titlehr />

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <ul>
                                <li><a href="https://www.activelylearn.com/">Actively Learn</a>
                                    <br>
                                    Online curriculum with scaffolding
                                </li>

                                <li><a href="https://do2learn.com/">Do2Learn</a>
                                    <br>
                                    Free activities for behavioral regulation and social skills
                                </li>

                                <li><a href="https://www.emotionalabcs.com/teachers/">EmotionalABCs</a>
                                    <br>
                                    Social-emotional learning resources for early elementary grades
                                </li>

                                <li><a href="http://bit.ly/remoteaccess4all">Equal Access to Distance Curriculum</a>
                                    <br>
                                    Distance Learning curriculum resources
                                </li>

                                <li><a href="https://www.ixl.com/">IXL.com</a>
                                    <br>
                                    Free curriculum with diagnostics
                                </li>
                                <li>
                                    <a
                                        href="https://www.uft.org/teaching/students-disabilities/special-education-resources">UFT's
                                        Students With
                                        Disabilities Resources</a>
                                    <br>
                                    Online materials for building literacy
                                </li>
                                <li>
                                    <a href="https://www.commonsense.org/education/app/skill-champ">Skill Champ</a>
                                    <br>
                                    Foundational skills practice tool that supports specific learning needs
                                </li>
                                <li>
                                    <a href="https://www.commonsense.org/education/app/seeing-ai">Seeing AI</a>
                                    <br>
                                    Free app for visually impaired students - uses AI to communicate the world to
                                    students

                                </li>

                            </ul>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <ul>

                                <li><a href="https://www.controlaltachieve.com/2016/10/special-needs-extensions.html">Google
                                        Chrome
                                        Extensions for Students
                                        with Special Needs</a>
                                    <br>
                                    Help with text-to-speech, focus, comprehension, and readability
                                </li>

                                <li><a href="https://www.headsprout.com/">Headsprout</a>
                                    <br>
                                    Reading resouces - free for rest of school year
                                </li>
                                <li><a href="https://www.interventioncentral.org/">Intervention Central</a>
                                    <br>
                                    Clearinghouse for free RTI materials</li>
                                <li><a href="https://newsela.com/">Newsela</a>
                                    <br>
                                    Leveled reading resources - free for rest of school year
                                </li>

                                <li><a
                                        href="https://www.nypl.org/about/remote-resources/kids-and-teens/homework-help-brainfuse">New
                                        York Public Library
                                        Free Tutoring</a>
                                    <br>
                                    Offers live tutoring and homework help
                                </li>
                                <li>
                                    <a href="https://www.interventioncentral.org">Intervention Central</a>
                                    <br>
                                    RTI resources including behavioral interventions
                                </li>
                                <li><a
                                        href="https://www.bookshare.org/cms/help-center/learning-center/learning-at-home">BookShare</a>
                                    <br>
                                    For students that have barriers to reading - free access for remote learning
                                </li>
                                <li>
                                    <a href="https://www.commonsense.org/education/app/modmath">ModMath</a>
                                    <br>
                                    Blank virtual grid sheets to assist students with mathmatical notation

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 115px"></div>
</div>