.page-container {
  /* margin: auto; */
  padding-top: 1em;
  padding-bottom: 3em;
  /* padding-left: 8%;
  padding-right: 8%; */
  /* text-align: center; */
  /* height: auto; */
  /* width: 80%; */
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
  z-index: 1;
  /* position: relative; */
}

p {
  margin: auto;
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  width: 80%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
}

.scroll-up {
  position: -webkit-sticky;
  position: fixed;
  z-index: 2;
  top: 85%;
  left: 92%;
  color: #5d0c1d;
}

button {
  background-color: #5d0c1d;
}

.fa-arrow-alt-circle-up {
  color: white;
  font-size: 2.5em;
  background-color: #5d0c1d;
}
