<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">


        <div class="scroll-up">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <i class="fas fa-arrow-alt-circle-up" (click)="goToTop()" id="button" *ngIf="scrolled == 1"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-container">
            <p>grammar works!</p>

            <!-- Kindergarten -->


            <!-- First Grade -->


            <!-- Second Grade -->


            <!-- Third Grade -->


            <!-- Fourth Grade -->


            <!-- Fifth Grade -->
        </div>

    </div>
    <div class="bd-highlight d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" style="width: 115px"></div>
</div>