<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="page-container">
    <p>history works!</p>

    <!-- Kindergarten -->


    <!-- First Grade -->


    <!-- Second Grade -->


    <!-- Third Grade -->


    <!-- Fourth Grade -->


    <!-- Fifth Grade -->
</div>