.page-container {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
  z-index: 1;
  position: relative;
  margin: auto;
}

iframe {
  padding: 2%;
  margin: auto;
}

.title {
  justify-self: center;
}

.titlehr {
  border-top: 10px solid #333;
  width: 95%;
}

.normalhr {
  border-top: 10px solid #d6d6d6;
  width: 95%;
}

.lesspadding {
  border-top: 5px solid #d6d6d6;
  width: 95%;
  padding: 0%;
}

h3 {
  text-decoration: underline;
  padding-top: -2%;
}

h4 {
  text-decoration: underline;
}

ul.nav-pills {
  right: 20px;
  position: fixed;
  color: black;
}

.scroll-up {
  position: -webkit-sticky;
  position: fixed;
  bottom: 10%;
  right: 4%;
  height: auto;
  z-index: 2;
  color: #5d0c1d;
  font-size: 40px;
  cursor: pointer;
}

.tableOfContentContainer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  align-self: flex-start;
  justify-content: flex-start;
  top: 10%;
}

.docs-toc-container {
  border-left: 4px solid #5d0c1d;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #737373;
  font-weight: 400 !important;
}

a:hover {
  color: #5d0c1d;
}

.tableOfContent {
  position: static;
  padding: 5px 0px 8px 10px;
  font-size: 13px;
}
