<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex " style="width: 115px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Contact Us</h3>
            <hr class=titlehr />

            <p class="firstp">Have questions or concerns? Want to chat about teaching?</p>
            <br>
            <p class="secondp" style="text-align: center">We would love to talk to you!</p>
            <br>
            <p class="thirdp" style="text-align: center">Feel free to contact us by email at admin@elementaryhub.com.
            </p>

        </div>

    </div>
    <div class="bd-highlight d-none  d-md-flex " style="width: 115px"></div>
</div>