.page-container {
  padding-top: 1em;
  padding-bottom: 1em;
  /* width: 80%; */
  margin: auto;
  min-height: 55vh;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
  z-index: 1;
  position: relative;
}

.titlehr {
  border-top: 10px solid #333;
  width: 95%;
}

.firstp {
  text-align: center;
  padding-top: 15vh;
}

.secondp {
  text-align: center;
  padding-top: 0.5em;
}

.thirdp {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 15vh;
}
