<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 155px"></div>
    <div class="flex-grow-1 bd-highlight">

        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Our Mission</h3>
            <hr class=titlehr />

            <p> We understand that education in a digital age due to COVID-19 can be frustrating at times and the
                content can be
                tricky to teach virtually. With the large amount of teaching videos on the internet that range from poor
                quality
                to high quality, it's easy to be overwhelmed in trying to find the perfect video for a particular
                standard.
                Knowing
                how frustrating that is, we created a website with high quality and easily accessible videos that
                correspond with
                the individual teaching standards for each grade. Our mission is to be an easy-to-use resource for
                parents and
                teachers as they educate students and children virtually. </p>

            <hr class="lesspadding" />

            <p>All of the videos on this site have been personally sourced, watched, and analyzed for best teaching
                practices by
                a certified and experienced elementary school teacher. Please feel free to use these videos however you
                would
                prefer in order to assist in teaching or reviewing valuable elementary concepts.</p>

            <hr class="lesspadding" />

            <p>Disclaimer: Elementary Education Hub does not produce or own any of the videos located on this site.</p>

        </div>

    </div>
    <div class="bd-highlight d-none  d-md-flex  gutter" style="width: 155px"></div>
</div>