<div class="d-flex bd-highlight">
    <div class="bd-highlight d-none  d-md-flex " style="width: 115px"></div>



    <!-- <div class="tableOfContentContainer">
    <div class="tableOfContent docs-toc-container">
        <div class="docs-toc-heading">Kindergarten Videos:</div>
        <nav>
            <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                Math
            </a>
            <br>
            <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                Reading
            </a>
            <br>
            <a pageScroll href="#history" class="docs-level-h3 docs-link ng-star-inserted">
                Social Studies
            </a>
            <br>
            <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                Science
            </a>
        </nav>
    </div>
</div> -->
    <div class="flex-grow-1 bd-highlight">
        <div class="container-fluid page-container">
            <hr class="titlehr" />
            <h3>Kindergarten Videos</h3>
            <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
            <hr class=titlehr />


            <hr id="math" class="lesspadding" />
            <h4>Math Videos</h4>
            <h5>Number Bonds:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LFki4BENvcw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BLuoYNmxkkU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YfzLt3oFev0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vh481gFiqQk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lD9tjBUiXs0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ch7KzI3n2Zk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Counting:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RLiwP_hxdQc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lAQ2HTqTl2w"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_MVzXKfr6e8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tLzOkpH2zyM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YBkpC29_GaI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GvTcpfSnOMQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tIxk5NeiTck"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VHwlKl5SsHc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>
            <hr class="lesspadding" />
            <h5>Money:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pnXJGNo08v0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aajLkveG750"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Addition and Subtraction:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p2W0I06Nq5s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WwlrbMWcTtQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/scvwSXku0HQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GdXClek-05I"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Shapes:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OEbRDtCAFdU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/svrkthG2950"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Patterns:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MBjjxSx45-Q"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a9wt4K5Zup0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b7UufX_bZlg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jl7EwPp6HQ0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Comparing Objects:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HO8UvN2DV4A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/E34PAOGYRNk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <hr class="normalhr" id="reading" />
            <h4>Reading Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Print Concepts:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7HOCobwTq1A"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7dhW9I2xbFg"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Phonological Awareness, Phonics, and Word Recognition:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vwxNBQnhRrM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/neItURLvyIQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ii18uH36ySU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3ovJIxTQpsU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xIBjAWkPzNA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rVuWKBFkZcU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RVophT8naUM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U2DgOGLMz14"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e2dx65u59aw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ri4u0TjAZ38"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/g3eUZAI8bTU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/arQxkdRYyE4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dEbaEXf6BqM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Au0bE0WxBc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr class="lesspadding" />
            <h5>Understanding Literature:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IdCQKwOmfkk"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-_nePjWXecQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Aq4jnZfnKS4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3BVOIyUnk6s"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w33-m8-geuM"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oXLXXF7t0G8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="normalhr" id="history" />
            <h4>Social Studies Videos</h4>
            <hr class="normalhr">

            <div class="container">
                <div class="row">

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RyLzsQKFpB0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wP_IbZSxhEs"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NR7z9FbUf5k"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xL4uetrD3Hc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LKCtzuvBZPc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/U-r-xHln6nE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TyP09S0UEzA"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o3ihZRdSFWo"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7Km5ecRCedU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_NeEF1fwT4k"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8ZjpI6fgYSY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6MGRkUlFZws"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>


            <hr class="normalhr" id="science" />
            <h4>Science Videos</h4>
            <hr class="normalhr" />

            <hr class="lesspadding" />
            <h5>Earth's Systems and Basic Needs:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Uo8lbeVVb4M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sn6GLgaTY0M"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k4UDf3tF_O4"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" width="500" height="300"
                            src="https://www.youtube.com/embed/fLj260gsw60" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>

            <hr class="lesspadding" />
            <h5>Forces and Energy:</h5>
            <hr class="lesspadding" />

            <div class="container">
                <div class="row">
                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZLDUrPaLQWE"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <div class="embed-responsive embed-responsive-16by9 col-12 col-md-12 col-lg-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tXhzHPUL6Vc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bd-highlight d-none  d-md-flex " style="width: 115px">
        <div class="tableOfContentContainer">
            <div class="tableOfContent docs-toc-container">
                <div class="docs-toc-heading">Kindergarten Videos:</div>
                <nav>
                    <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                        Math
                    </a>
                    <br>
                    <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                        Reading
                    </a>
                    <br>
                    <a pageScroll href="#history" class="docs-level-h3 docs-link ng-star-inserted">
                        Social Studies
                    </a>
                    <br>
                    <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                        Science
                    </a>
                </nav>
            </div>
        </div>


    </div>
</div>

<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <i class="fas fa-arrow-alt-circle-up" (click)="goToTop()" *ngIf="scrolled == 1"></i>
            </div>
        </div>
    </div>
</div>