<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="page-container">
    <h1>Kindergarten Educational Videos</h1>



    <!-- Reading Videos -->
    <h3>Reading:</h3>

    <!-- Spelling Videos -->
    <h3>Spelling:</h3>


    <!-- Grammar Videos -->
    <h3>Grammar:</h3>


    <!-- Math Videos -->
    <h3>Math:</h3>
    <!-- Number Bonds -->
    <iframe width="500" height="281" src="https://www.youtube.com/embed/BLuoYNmxkkU" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/YfzLt3oFev0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="500" height="281" src="https://www.youtube.com/embed/vh481gFiqQk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/lD9tjBUiXs0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/ch7KzI3n2Zk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <!-- Counting -->
    <iframe width="500" height="281" src="https://www.youtube.com/embed/lAQ2HTqTl2w" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/RLiwP_hxdQc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/_MVzXKfr6e8" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Money     -->
    <iframe width="500" height="281" src="https://www.youtube.com/embed/pnXJGNo08v0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- Science Videos -->
    <h3>Science:</h3>


    <!-- History Videos -->
    <h3>History:</h3>
</div>