body {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 3em;
  /* padding-left: 8%;
  padding-right: 8%; */
  text-align: center;
  height: auto;
  width: 80%;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
  z-index: 1;
}

iframe {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

/* iframe:nth-of-type(even) {
  padding-left: -5em;
  padding-right: 5em;
} */

.container {
  justify-self: center;
}

.title {
  justify-self: center;
}

.titlehr {
  border-top: 10px solid #333;
  width: 90%;
  /* padding-top: 1%; */
  /* padding-bottom: 1%; */
}

.normalhr {
  border-top: 10px solid #d6d6d6;
  width: 90%;
  /* padding-top: 0.5%;
  padding-bottom: 0.5%; */
}

.lesspadding {
  border-top: 5px solid #d6d6d6;
  width: 90%;
  padding: 0%;
}

p {
  /* padding-bottom: 2%; */
}

h1 {
  text-decoration: underline;
  /* padding-bottom: 1%; */
  padding-top: -2%;
}

h3 {
  /* padding-bottom: 1%; */
  text-decoration: underline;
}

h5 {
  /* position: fixed; */
  justify-self: center;
}
/* p {
  margin: auto;
  padding-top: 5em;
  text-align: center;
  height: 100vh;
  width: 80%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #ffffff;
  border-left: 4px solid black;
  border-right: 4px solid black;
} */
