<div class="scroll-up">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <button (click)="goToTop()" id="button" *ngIf="scrolled == 1"><i class="far fa-arrow-alt-circle-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="tableOfContentContainer">
    <div class="tableOfContent docs-toc-container">
        <div class="docs-toc-heading">Grade 5 Videos:</div>
        <nav>
            <a pageScroll href="#math" class="docs-level-h3 docs-link ng-star-inserted">
                Math
            </a>
            <br>
            <a pageScroll href="#reading" class="docs-level-h3 docs-link ng-star-inserted">
                Reading
            </a>
            <br>
            <a pageScroll href="#science" class="docs-level-h3 docs-link ng-star-inserted">
                Science
            </a>
        </nav>
    </div>
</div>

<div class="container page-container">
    <hr class="titlehr" />
    <h1>Fifth Grade Videos</h1>
    <p class="text-center">Scroll down to the desired subject or use the navigation menu on the right.</p>
    <hr class=titlehr />


    <hr id="math" class="lesspadding" />
    <h3>Math Videos</h3>
    <h5>Operations and Algebraic Thinking:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/v0bg2GWCbRo" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Ay5vpsieXb4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Nv8njymFuVM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/kg4b1DOtcN8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Number and Operations:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/yfmEojlt4_A" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/RHUl4kZDD6c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/FZhWVy8INyk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/V16QulRkp_o" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/32gDF10ZXOA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/6SCROCbSGts" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/tDQipFjAoT8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/AwSMewrnQXg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/cARsEw-s8Fg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/7x1IP_v-ADQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Measurement and Data:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/mJrSUJ57H30" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/RxkRlIAucMk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/3lbMvKtT-6w" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/dAKAfcqi3x4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Geometry:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/qcb-mcREIi0" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/v4vXkDHYDyk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/mApnNks5Oag" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/d6vhjpnfd3c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>



    <hr class="normalhr" id="reading" />
    <h3>Reading Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Standard English Conventions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/8c8yiwrPS0U" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/R74Ly00UygU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/QFcaUTd8DgY" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/p50_yNQLj5c" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/jjrwi_FCQS4" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/s74XA3tCPt8" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/p4JHsbF_rwg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Z5ISJUxKOpk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr id="science" class="normalhr" />
    <h3>Science Videos</h3>
    <hr class="normalhr" />

    <hr class="lesspadding" />
    <h5>Earth's Place in the Universe:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/Zo-sKzMWYFA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/a5nhIUFTjcs" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Earth's Systems:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/VMxjzWHbyFM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/QYm4ZmReT2g" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/6j5iHvYBIcg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/uJmfY19sTGk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr class="lesspadding" />
    <h5>Matter and Its Interactions:</h5>
    <hr class="lesspadding" />

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/HmzFG_xOeaQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="col-12 col-md-12 col-lg-6">
                <iframe width="500" height="281" src="https://www.youtube.com/embed/CqjxAYZ13QA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>